@import url('http://fonts.cdnfonts.com/css/averta-blackitalic');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Averta-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style-type: none;
    float: right;
    padding-right: 120px;
}

ul li {
    display: inline-block;
    font-size: 14px;
    margin-right: 50px;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li a:hover {
    background-color: rgb(143, 190, 174);
}

.logo {
    margin-top: 25px;
}

.logo img {
    padding-left: 130px;
    padding-top: 10px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 400;
    color: #fff;
    background-color: rgb(231, 51, 43);
    border-bottom: 3px;
    border-bottom-right-radius: 10px;
}

.btn1 {
    display: inline-block;
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 400;
    color: #fff;
    background-color: rgb(231, 51, 43);
    border-bottom: 3px;
    border-bottom-right-radius: 10px;
}

.btn2 {
    display: inline-block;
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 500;
    color: #fff;
    background-color: rgb(102, 102, 102);
    border-bottom: 3px;
    border-bottom-right-radius: 10px;

}

.content {
    margin-top: 250px;
    max-width: 600px;
    margin-left: 130px;
}

.content h1 {
    font-size: 38px;
    font-weight: bold;
    color: #000;
}

.content p {
    font-size: 18px;
    margin: 25px 0 30px;
    color: rgb(126, 124, 124);
}

.content a {
    margin: 5px;
}

.line-1 {
    width: 80px;
    margin-left: 390px;
}

.line1,
.line-1 {
    margin-top: -23px;
}

.btn3 {
    text-decoration: none;
    color: rgb(231, 51, 43);
    font-weight: bold;
}

.pic {
    width: 400px;
    position: absolute;
    bottom: 0;
    right: 150px;
}

.line-2 {
    width: 300px;
    position: absolute;
    right: 3px;
    bottom: 65px;
}

@media screen and (max-width: 600px) {
    .content {
        padding-top: 130px;
    }
}
main{
  background-image: url(herobg.png);
}
.section2 {
    margin-top: 100px;
}

#btn4 {
    color: rgb(231, 51, 43);
    text-decoration: none;
}
.subsection2{
    padding-top: 50px;
margin-left: 70px;
}

.one{
    font-size: 20px;
    font-weight: bold;
}
.two{
    font-size: 16px;
    font-weight: bold;
}
.three{
    font-size: 16px;
    font-weight: bold;
}
.sectionbox {
    display: flex;
    padding-top: 30px;
}
.section2-img{
    width: 400px;
    left: 450px;
    margin-top: -200px;
    position: relative;
    bottom: 0;
}